<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <link rel="stylesheet" href="./css/syntax.css">
        <link rel="stylesheet" href="./css/main.css">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700">
        </head>

        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
    </head>
    <body class="inner">
        <header>
            <section class="logo">
                <span class="mudbath">mudbath<em>v0.1.0.0</em></span>
            </section>

            <nav class="clearfix">
                <a href="./index.html">Home</a>
                <a href="./installation.html">Installation</a>
                <a href="./configuration.html">Configuration</a>
            </nav>
        </header>

        <div id="content">
            {{ content }}
        </div>

    </body>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="./application.js"></script>
</html>
